.header{
width: 100%;
overflow: hidden;
height: 300px;
}
.cardh
{
    width: 7.5% !important;
    box-shadow: none !important;
    padding: 2% 1% !important;
    height: 100% !important;
}
.cardh img{
    border-radius: 50% !important;
}
.inner{
 position: relative !important;
 left: 0% !important;
}
.cardh h4{
    text-align: center;
}