.grid
{
    width: 80%;
    margin-top: 30px;
}
.col h3{
 font-size: 23px;
 margin: 8px 6px 8px 6px;
}
.col h4{
    font-size: 16px;
    font-weight: 500;
    margin: 6px ;
    color: green;
}
.col p{
    color: rgb(97, 103, 96);
    font-size: 15px;
    margin: 9px 6px 9px 6px;
}
.carder .col{

    width: 30%;
    margin: 20px;
    display: block !important;
    background-color: rgb(234, 245, 235);
    background-image: url("../../../public/bg1.png");
    height: 125px;
    border-radius: 10px;
    background-repeat: no-repeat;
    padding: 15px;
    background-size: 50% 100%;
    background-position: right;
    
}